<h2>NgClass</h2>

<p [ngClass]="hayError ? 'error' : 'success'">
  La edad del usuario es: {{ edad + 1 }}
</p>

<p [ngClass]="{ success: !hayError, error: hayError }">
  El nombre de la app es: {{ title }}
</p>

<p [class.error]="hayError" [class.success]="!hayError">
  Opcion de ngClass nro. 3
</p>

<hr />

<h2>NgStyle</h2>

<p [ngStyle]="{ fontWeight: hayError ? 'bold' : 'normal' }">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias
  repellendus at officia velit, cumque inventore eos nulla minus totam ducimus
  modi facere quae illo aut, provident delectus repudiandae beatae praesentium.
</p>

<p [style.font-size]="hayError ? '20px' : '16px'">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione pariatur
  inventore consequatur voluptas? Officia molestiae quod dignissimos, laborum
  odit culpa. Animi quae quas corporis facilis, illo id in aperiam repellat!
</p>

<hr />

<h2>Directivas personalizadas</h2>

<p appResaltado>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis repellendus
  expedita ipsum debitis non deleniti ullam et voluptas quos perferendis,
  dolorem officia error nisi est asperiores deserunt esse autem vel!
</p>

<h4 appResaltado>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque ipsam
  reprehenderit unde molestias reiciendis! Ratione temporibus dolores
  repellendus
</h4>

<hr />

<h2>Directivas estructurales</h2>

<ul>
  <li *ngFor="let personaje of ['Goku', 'Piccolo', 'Gohan', 'Trunks']">
    {{ personaje }}
  </li>
</ul>

<ul>
  <li *ngFor="let fruta of frutas; let i = index">{{ i }} - {{ fruta }}</li>
</ul>

<!-- Angular 17 en adelante -->
<ul>
  @for(fruta of frutas; track $index) {
  <li>{{ $index }} - {{ fruta }}</li>
  }
</ul>

<hr />

<h2>Directivas condicionales (estructurales)</h2>

<button (click)="alternarParrafo()">Mostrar/ocultar</button>

{{ mostrarParrafo }}

<p *ngIf="mostrarParrafo">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, delectus
  labore distinctio cumque saepe harum perferendis voluptatem! Esse, non
  cupiditate nesciunt quam labore dicta impedit asperiores itaque voluptatibus
  quis quaerat.
</p>

<!-- Angular 17 en adelante -->

@if (mostrarParrafo) {
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, delectus
  labore distinctio cumque saepe harum perferendis voluptatem! Esse, non
  cupiditate nesciunt quam labore dicta impedit asperiores itaque voluptatibus
  quis quaerat.
</p>
}

<h3>NgSwitch</h3>

<div [ngSwitch]="estadoPago">
  <p *ngSwitchCase="estadoPagoEnum.Aceptado">Su pago ha sido aceptado</p>
  <p *ngSwitchCase="estadoPagoEnum.Rechazado">Su pago ha sido rechazado</p>
  <p *ngSwitchCase="estadoPagoEnum.Pendiente">Su pago esta pendiente</p>
  <p *ngSwitchDefault>Su pago tiene un estado desconocido</p>
</div>

<!-- Angular 17 en adelante -->

@switch (estadoPago) { @case (estadoPagoEnum.Aceptado) {
<p>Su pago ha sido aceptado</p>
} @case (estadoPagoEnum.Rechazado) {
<p>Su pago ha sido rechazado</p>
} @case (estadoPagoEnum.Pendiente) {
<p>Su pago esta pendiente</p>
} @default {
<p>Su pago tiene un estado desconocido</p>
} }

<hr />

<h2>Binding</h2>

<input [(ngModel)]="loginForm.password" [type]="inputType" />
<button (click)="alternarTipo()">Text/Password</button>
<pre>{{ loginForm | json }}</pre>

<!--
[] ====> Pasando informacion desde el padre al hijo
() ====> El elemento hijo notificando al padre de algun evento
[()] =====> Enlazamiento de doble via
-->

<hr />

<h2>Pipes</h2>

<p>Nombre: {{ nombreUsuario | uppercase }}</p>
<p>Sueldo: {{ sueldo | currency : "ARS" }}</p>
<p>Fecha nacimiento: {{ fechaNacimiento | date : "long" }}</p>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
